.btn-primary {
    border: none;
    color: white;
    background-color: #7c5dfa;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    padding: 12px 20px;
}

.btn-primary:hover {
    background: rgb(146, 119, 255);
}

.plus {
    font-size: 1.5rem;
    color: #7c5dfa;
    background-color: white;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    line-height: 30px;
}

.heading_main {
    font-size: 2.3rem;
    margin: 0;
}

.form-label {
    margin-bottom: 5px;
    color: #737791;
    font-weight: 300;
    margin-bottom: 5px;
}

.form-input {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    border: 1px solid #dddde1;
    border-radius: 4px;
    padding: 2px 10px;
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
}

.form-input:focus {
    outline: none;
    border: 1px solid #7c5dfa;
}

.save-contact {
    margin-top: 5px;
    display: inline-block;
}

.back-button {
    display: flex;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
}

.back-button:hover {
    color: #737791;
}

.back-arrow {
    color: #7c5dfa;
    margin-right: 10px;
}